:root {
    --dark-green: #33493E;
    --mint-green: #386340;
    --black-brown: #231405;
    --light-grey: #E8E6DC;
    --eggshell-white: #F6F4E8;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: var(--eggshell-white); /* Use eggshell white for the backdrop */
    color: var(--black-brown); /* Black Brown for text */
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    text-align: center; /* Center the content */
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

h1, h2 {
    color: var(--dark-green); /* Dark Green for headings */
    margin-bottom: 30px;
}

h2 {
    margin-top: 40px;
    font-size: 1.8em;
}

#search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#query {
    padding: 12px;
    width: 50%; /* Make input box wider */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#query:focus {
    outline: none;
    border-color: var(--dark-green); /* Dark Green for focus */
}

#search-button {
    padding: 12px 24px;
    background-color: var(--dark-green); /* Dark Green */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: var(--mint-green); /* Mint Green */
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center results horizontally */
}

.document {
    width: 70%;
    background-color: var(--light-grey); /* Light Grey for document background */
    padding: 20px;
    border: var(--black-brown) 3px solid;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: left; /* Align text to the left */
}

.document:hover {
    transform: translateY(-5px);
    border: var(--dark-green) 3px solid;
}

.document h3 {
    color: var(--dark-green); /* Dark Green for document headings */
    margin-top: 0;
}

.document p {
    color: var(--black-brown);
    margin: 10px 0;
}

.similarity-score {
    font-weight: bold;
    color: var(--mint-green); /* Mint Green */
}

#chart {
    width: 100%;
    height: 400px;
    margin-top: 40px;
}

@media (max-width: 600px) {
    #search-form {
        flex-direction: column;
        align-items: center; /* Center search form horizontally */
    }
    #query {
        width: 100%;
        margin-bottom: 10px;
    }
    #search-button {
        width: 100%;
        margin-left: 0;
    }
    .document {
        width: 100%; /* Ensure document containers are centered and full-width */
    }
}
